<h2>
  You are currently at <%= number_to_percentage(@budget.current_percentage, precision: 2) %> of your <%= @budget.period %> budget
</h2>

<p>
  <strong>Name:</strong>
  <%= @budget.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @budget.description %>
</p>

<p>
  <strong>Period:</strong>
  <%= @budget.period %>
</p>

<p>
  <strong>Goal Amount:</strong>
  <%= humanized_money_with_symbol(@budget.goal_amount) %>
</p>

<p>
  <strong>Current Amount:</strong>
  $<%= @budget.current_amount_cents.to_f/100 %>
</p>




<%= link_to 'Edit', edit_budget_path(@budget) %> |
<%= link_to 'Back', budgets_path %>
