<h1>Contact Us</h1>
<%= form_tag contact_submit_path do %>
  <div>
    <%= label_tag :full_name %>
    <%= text_field_tag :full_name %>
  </div>
  <div>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>
  <div>
    <%= label_tag :message %>
    <%= text_area_tag(:message, nil, {class: 'abc'}) %>
  </div>
  <%= submit_tag "Contact Us!" %>
<% end %>
