<%= image_tag("bg.jpg")%>
<!-- <div class='row'>
  <div class='col-xs-12 col-md-4 col-sm-offset-4'>
    <h1>Sign Up</h1>
    <%= @user.errors.full_messages.join(', ') %>
      <%= form_for @user do |f| %>
      <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <%= submit_tag 'Sign Up', class:'btn btn-default' %>
    <% end %>
  </div>
</div> -->
