<div>
  <%= simple_form_for @transaction do |s| %>
  <%= s.input :is_spending, input_html: { checked: false, value: true}, as: :hidden %>
  <%= s.input :transaction_type, label: "Category", collection: ["General","Groceries", "Household", "Transportation",
                                                                  "Restaurant", "Drinks", "Entertainment", "Clothing"],
                                                                selected: "General", as: :select%>
  <%= s.input :amount, placeholder: "$0.00" %>
  <%= s.input :description, placeholder: "Note" %>
  <%= s.input :transaction_date %>
  <%= s.association :budgets, collection: current_user.budgets, as: :check_boxes %>
  <%= s.submit input_html: {class: 'btn btn-success'} %>
  <% end %>
</div>
