<div class='new-credit'>
  <%= simple_form_for @transaction do |s| %>
  <%= s.input :is_spending, input_html: { checked: false, value: false}, as: :hidden %>
  <%= s.input :transaction_type, label: "Category", collection: ["Investment", "Income"], selected: "Income", as: :select%>
  <%= s.input :amount, placeholder: "$0.00" %>
  <%= s.input :description, placeholder: "Note" %>
  <%= s.input :transaction_date %>
  <%= s.submit input_html: { class: 'btn btn-success' } %>
  <% end %>
</div>
