<div><%= @transaction.transaction_date %></div>
<div>
  <h4>Income<%=  %></h4>
  <h4>Fixed<%=  %></h4>
  <h4>Variable<%=  %></h4>
</div>
<div>
  <h4>Expenses<%=  %></h4>
  <h4>Fixed<%=  %></h4>
  <h4>Variable<%=  %></h4>
  <h4>Big Expenses<%=  %></h4>
  <h4>Savings<%=  %></h4>
  <hr>
  <h4>Budget left<%=  %></h4>
</div>
<div>
  <h4>Projected Savings</h4>
  <h2>$206,533.10<h2>
</div>
