<!DOCTYPE html>
<html>
  <head>
    <title>MoneyProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application'%>
  </head>

  <body>
    <% if user_signed_in? == false %>
      <div id="login-display">
        <div class='login-content'>
          <div class='login-form'>
            <div id='signin-form'>
              <%= render 'sessions/new' %>
            </div>
            <div id='signup-form'>
              <%= render 'users/new' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6 col-lg-3 col-xl-2" id='navbar'>
          <div class='navbar'>
            <ul>
              <div><li>
                <span><i class="fa fa-bar-chart" aria-hidden="true"></i></span>
                <%= link_to 'Main Page', root_path %>
              </li><hr/></div>

              <div><li>
                <span><i class="fa fa-usd" aria-hidden="true"></i></span>
                <%= link_to 'My Budget', budgets_path %>
              </li><hr/></div>

              <div><li>
                <span><i class="fa fa-list" aria-hidden="true"></i></span>
                <%= link_to 'Spendings', spending_index_path %>
              </li><hr/></div>

              <div><li>
                <span><i class="fa fa-book" aria-hidden="true"></i></span>
                <%= link_to 'Overview',  overview_path %>
              </li><hr/></div>

              <div><li>
                <span><i class="fa fa-exchange" aria-hidden="true"></i></span>
                <%= link_to 'Transactions', transactions_path %>
              </li><hr/></div>

              <% if current_user.present? %>
                <div><li>
                  <span><i class="fa fa-cog" aria-hidden="true"></i></span>
                  <%= link_to 'Settings', edit_user_path(current_user) %>
                </li><hr /></div>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="col-md-9 col-xl-10 col-sm-8 col-lg-9" id="container">
          <div>
            <% if notice || alert %>
              <div class="alert alert-<%= notice ? 'success' : 'danger'%> alert-dismissable" role="alert">
                <%= notice || alert %>
              </div>
            <% end %>
          </div>

          <div>
            <ul id="status" class='nav navbar-nav'>
            <% if user_signed_in? %>
              <li><%= button_to 'Sign out', sessions_path, method: :delete, class: 'btn btn-default navbar-btn' %></li>
            <% end %>
            </ul>
          </div>

          <div id="contents">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
